extends ../anon_layout

block au_content
    div.row
        div.center.col-offset-4.col-lg-4.well
            form(action="/pages/04_sign_in_page", method="post")
                legend Sign In
                div
                    label Username:
                    input(type="text", name="username")
                div
                    label Password:
                    input(type="password", name="password")
                div
                    button.btn.btn-primary(type="submit",name="submit") Log In