extends ../anon_layout

block au_content
    div.row
        div.col-lg-6.col-offset-3
            h3 You are invited to use plancrow by MANAGER of COMPANY
            label You can &nbsp;
            a(href="/pages/03_registration_page") Register
            label &nbsp; or &nbsp;
            a(href="/pages/04_sign_in_page") Use existing account
