extends ../anon_layout

block au_content
    div.row-fluid
        div.span6.offset3
            h3 You are invited to use plancrow by MANAGER of COMPANY
            label You can
            a(href="/pages/03_registration_page") Register
            label or
            a(href="/pages/04_sign_in_page") Use existing account
