extends ../authed_layout

block au_content
    div.row-fluid
        div.span12
            table.table.table-bordered
                thead
                    th Name
                    th Status
                    th Actions
                - each project in projects
                    tr
                        td= project.name
                        td= project.is_active
                        td
                            a(href="#configure", alt="configure")
                                i.icon-wrench
