extends ../authed_layout

block au_content
    div.row
        div.col-lg-12
            div.tree
                ul
                    li.prj-node
                        h4
                            span.name Project: #{project.name}
                        ul.details-container

    script(type='text/javascript', src='/scripts/client/12_project_details.js')
