extends ../authed_layout

block au_content
    div.row
        div.col-lg-6.col-offset-3
            h3 Company customers
            table.table-bordered
                tbody
                    tr
                        td Name
                        td
                            a(href="/pages/14_edit_customer") Edit
                        td
                            a(href="/pages/14_edit_customer") Create
