extends ../authed_layout

block au_content
    .row-fluid
        .center.offset3.span6
            #posttimescreen

    script(data-main='/scripts/client/PostTimeApp.js', type='text/javascript', src='/scripts/vendor/requirejs/require.js')