extends ../authed_layout

block au_content
    div.row-fluid
        div.center.offset4.span4
            table.table.table-bordered
                caption Post Time
                thead
                    tr
                        th Task
                        th Time millis
                tbody.assignments
                    //tr
                        td Page 22 Markup
                        td 666

    script(type='text/javascript', src='/javascripts/client/22_post_time.js')