html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::selection{
    background: rgba(255, 20, 147, 0.75);
    color: #FFFFFF;
    opacity: 0.05;
}
::-moz-selection{  /* Firefox */
    background: rgba(255, 20, 147, 0.75);
    color: #FFFFFF;
    opacity: 0.05
}

img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

#titlesection {
    padding-top: 25px;
    padding-bottom: 25px;
    /*background: red;*/
    height: 100%;
}


#triptih{
    background: url("../images/schema.jpg");
    background-size: 100% 100%;
    margin: auto;
    width: 550px;
    height: 550px;
}
#t1import{
    float:left;
    width:50%;
    position:relative;
    top: 15%;
    left: 7.5%;
}
#t2tracktime{
    float:right;
    width:50%;
    height: 50%;
    position:relative;
    top: 25%;
    left: 15%;
}
#t3content{
    position: relative;
    top: 15%;
    left: 35%;
    clear:both;
}

.signinsignup {
    margin: 15px auto;
}

#signin input,
#signin button.btn{
    min-height: 20px;
    width: 50%;
}

#signin .modal-footer{
    text-align: center !important;
}

#signin input,
#signin button.btn{
    display: inline-block;
    min-height: 20px;
    width: 75%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
}

#signup button,
#signup input{
    min-height: 20px;
    width: 50%;
}

#signup input{
    display: inline-block;
    min-height: 20px;
    width: 50%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
}

.bottomsignup button{
    width: 100%;
}

.footer{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*.section {*/
    /*width: auto;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
/*}*/

/*.section.header {*/
    /*padding-top: 25px;*/
    /*padding-bottom: 25px;*/
    /*background-color: #2e323d;*/
/*}*/

/*.section.hero {*/
    /*padding-top: 55px;*/
    /*padding-bottom: 0px;*/
    /*background-color: #363b48;*/
    /*text-align: center;*/
/*}*/

/*.section.grey {*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*text-align: center;*/
/*}*/

/*.section.centered {*/
    /*background-color: #3ff;*/
    /*text-align: center;*/
/*}*/

/*.section.footer {*/
    /*padding-top: 10px;*/
    /*padding-bottom: 15px;*/
    /*text-align: center;*/
/*}*/

.responsive-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.content-column {
    padding-left: 31px;
    text-align: center;
}

.icons {
    display: inline-block;
    width: 65px;
    height: 65px;
    margin-top: 30px;
    padding-top: 7px;
    float: none;
    border-radius: 70px;
    background-color: #eff1f4;
}

.featureimage {
    padding: 10px 25px;
    border-radius: 8px;
    background-color: white;
    background-image: none;
    text-align: left;
}

.by-section {
    text-align: left;
}

.separator {
    height: 1px;
    border: 0;
    background-color: #d3d3d3;
}

.moreinfo {
    text-align: center;
}

.bottomsignup {
    text-align: center;
}

.featuretext {
    padding: 35px 5px 5px 25px;
}

.featuretext h2 {
    padding: 15px 0;
    text-shadow: 0px 1px 0px #e5e5ee;
}

.featuretext h4{
    font-size: 21px;
    font-weight: 200;
}

@media (max-width: 991px) {
    #triptih{
        width: 550px;
        height: 550px;
    }
    #landingmain {
        height: auto;
        padding-top: 65px;
    }
}

@media (max-width: 767px) {
    #triptih{
        width: 350px;
        height: 350px;
    }
    #one_import, #two_enter, #three_analyze{
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    #landingmain {
        height: auto;
        padding-top: 65px;
    }
}

@media (max-width: 479px) {
    #triptih{
        width: 225px;
        height: 225px;
    }
    #one_import, #two_enter, #three_analyze{
        padding: 2px 5px;
        font-size: 10px;
        line-height: 1.5;
        border-radius:   3px;
    }

    #landingmain {
        height: auto;
        padding-top: 65px;
    }
}