extends layout

block content
    div.container
        div.masthead
            h3.text-muted Plancrow
            ul.nav.navbar-nav
                li.active
                    a(href="#") What is Plancrow?
                li
                    a(href="#") Our Customers
                li
                    a(href="#") Pricing
                li
                    a(href="#") Public Projects
            ul.nav.pull-right
                li
                    a(href="#") Sign In

        block au_content

        hr

        div.footer
            p &copy; Plancrow 2013
