extends anon_layout

block au_content
    div.jumbotron
        h1= title
        p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            a.btn.btn-large.btn-success(href="#") Try it for free
            br
            br
            a.btn.btn-large.btn-success(href="#") Sign-in
        hr

    div.row-fluid
        div.span12
            div.alert.alert-block
                h4 Static assets: Screens
                ul
                    li
                        a(href="/pages/01_welcome_page") Page 1: Welcome Page
                        tt  (max: in progress)
                    li
                        a(href="/pages/02_pricing_page") Page 2: Pricing Page
                        tt  (max: in progress)
                    li
                        a(href="/pages/03_registration_page") Page 3: Registration Page
                        tt  (max: in progress)
                    li
                        a(href="/pages/04_sign_in_page") Page 4: Sign In Page
                        tt  (ilya: in progress)
                    li
                        a(href="/pages/05_company_admin") Page 5: Company Admin
                        tt  (max: in progress)
                    li
                        a(href="/pages/06_user_settings") Page 6: User Settings
                        tt  (max: in progress)
                    li
                        a(href="/pages/07_user_list") Page 7: User List
                        tt  (not started)
                    li
                        a(href="/pages/08_invitation") Page 8: Invitation
                        tt  (not started)
                    li
                        a(href="/pages/09_project_list") Page 9: Project List
                        tt  (ilya: in progress)
                    li
                        a(href="/pages/10_project_creation") Page 10: Project Creation
                        tt  (max: in progress)
                    li
                        a(href="/pages/11_project_settings") Page 11: Project Settings
                        tt  (not started)
                    li
                        a(href="/pages/12_project_details") Page 12: Project Details
                        tt  (ilya: in progress)
                    li
                        a(href="/pages/13_customers") Page 13: Customers
                        tt  (not started)
                    li
                        a(href="/pages/14_edit_customer") Page 14: Edit Customer
                        tt  (not started)
                    li
                        a(href="/pages/15_invoicing_for_customer") Page 15: Invoicing For Customer
                        tt  (not started)
                    li
                        a(href="/pages/16_invoices_history") Page 16: Invoices History
                        tt  (not started)
                    li
                        a(href="/pages/17_invoice_saving") Page 17: Invoice Saving
                        tt  (not started)
                    li
                        a(href="/pages/18_reports_page") Page 18: Reports Page
                        tt  (not started)
                    li
                        a(href="/pages/19_management_report_screen") Page 19: Management Report Screen
                        tt  (not started)
                    li
                        a(href="/pages/20_project_chart") Page 20: Project Chart
                        tt  (not started)
                    li
                        a(href="/pages/21_user_timing_history") Page 21: User Timing Screen
                        tt  (not started)
                    li
                        a(href="/pages/22_post_time") Page 22: Post Time
                        tt  (not started)
                    li
                        a(href="/pages/23_public_project_registration") Page 23: Public Project Registration
                        tt  (not started)
                    li
                        a(href="/pages/24_public_projects") Page 24: Public Projects
                        tt  (not started)


    div.row-fluid
        div.span4
            h2 Heading
            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
                a.btn(href="#") View details &raquo;
        div.span4
            h2 Heading
            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
                a.btn(href="#") View details &raquo;
        div.span4
            h2 Heading
            p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
            p
                a.btn(href="#") View details &raquo;
