extends anon_layout

block au_content
    div.jumbotron
        h1= title
        p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            a.btn.btn-large.btn-success(href="#") Get started today
        hr

    div.row-fluid
        div.span12
            div.alert.alert-block
                h4 Static assets: Screens
                ul
                    li
                        a(href="/pages/01_welcome_page") Page 1: Welcome Page
                        tt  (not started)
                    li
                        a(href="/pages/02_pricing_page") Page 2: Pricing Page
                        tt  (not started)
                    li
                        a(href="/pages/03_registration_page") Page 3: Registration Page
                        tt  (not started)
                    li
                        a(href="/pages/04_sign_in_page") Page 4: Sign In Page
                        tt  (not started)
                    li
                        a(href="/pages/05_company_admin") Page 5: Company Admin
                        tt  (not started)
                    li
                        a(href="/pages/06_user_settings") Page 6: User Settings
                        tt  (not started)
                    li
                        a(href="/pages/07_user_list") Page 7: User List
                        tt  (not started)
                    li
                        a(href="/pages/08_invitation") Page 8: Invitation
                        tt  (not started)
                    li
                        a(href="/pages/09_project_list") Page 9: Project List
                        tt  (ilya: in progress)
                    li
                        a(href="/pages/10_project_creation") Page 10: Project Creation
                        tt  (not started)
                    li
                        a(href="/pages/11_project_settings") Page 11: Project Settings
                        tt  (not started)
                    li
                        a(href="/pages/12_project_details") Page 12: Project Details
                        tt  (ilya: in progress)


    div.row-fluid
        div.span4
            h2 Heading
            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
                a.btn(href="#") View details &raquo;
        div.span4
            h2 Heading
            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
                a.btn(href="#") View details &raquo;
        div.span4
            h2 Heading
            p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
            p
                a.btn(href="#") View details &raquo;
