!!! 5
html
    head
        meta(charset='utf-8')
        title Plancrow
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //link(rel='stylesheet', type='text/css', href='/landing/main.css')
        link(rel='stylesheet', type='text/css', href='/landing.min.css')
        link(rel='icon', type='image/x-icon', href='/landing/images/favicon.ico')
    body
        .container
            block landing-body
            .footer.row
                .col-6.text-left.bottom-menu
                    a(href='mailto:info@plancrow.com') Contact Us
                    a(href='/terms') Terms&nbsp;
                        span.amp &amp;&nbsp;
                        | privacy
                .col-6.text-right
                    | © Plancrow 2013

    //shim dependencies
    script(type='text/javascript', src='/scripts/jade-hack/browser-jade.js')
    script(type='text/javascript', src='/scripts/jade-hack/jade-shim.js')
    //main requirejs module
    script(data-main='/scripts/client/LandingApp.js', type='text/javascript', src='/scripts/vendor/requirejs/require.js')
    script(type='text/javascript', src='/landing/js/ga.js')
