doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')

    script(type='text/javascript', src='/javascripts/ext/jquery-latest.min.js')
    script(type='text/javascript', src='/javascripts/ext/underscore-min.js')
    script(type='text/javascript', src='/javascripts/ext/backbone-min.js')
    script(type='text/javascript', src='/javascripts/ext/browser-jade.js')
    script(type='text/javascript', src='/javascripts/ext/jade-shim.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')

    link(rel='stylesheet', href='/javascripts/ext/select2-3.4.1/select2.css')
    script(type='text/javascript', src='/javascripts/ext/select2-3.4.1/select2.min.js')


  body
    block content