!!! 5
html(style="height: 100%")
    head
        meta(charset='utf-8')
        title Plancrow
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='/landing/css/normalize.css')
        link(rel='stylesheet', href='/scripts/vendor/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/scripts/vendor/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/scripts/vendor/flat-ui-official/css/flat-ui.css')
        link(rel='icon', type='image/x-icon', href='/landing/images/favicon.ico')
        //link(rel='apple-touch-icon', href='https://y7v4p6k4.ssl.hwcdn.net/51d2715929d9cfe03a000001/51e07282241660ce78000001_webclip-gallio.png')
    body(style="height: 100%; \
        background: rgb(50,242,159); /* Old browsers */\
        background: -moz-linear-gradient(-45deg,  rgba(50,242,159,1) 0%, rgba(50,242,159,1) 11%, rgba(233,60,236,1) 100%); /* FF3.6+ */\
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(50,242,159,1)), color-stop(11%,rgba(50,242,159,1)), color-stop(100%,rgba(233,60,236,1))); /* Chrome,Safari4+ */\
        background: -webkit-linear-gradient(-45deg,  rgba(50,242,159,1) 0%,rgba(50,242,159,1) 11%,rgba(233,60,236,1) 100%); /* Chrome10+,Safari5.1+ */\
        background: -o-linear-gradient(-45deg,  rgba(50,242,159,1) 0%,rgba(50,242,159,1) 11%,rgba(233,60,236,1) 100%); /* Opera 11.10+ */\
        background: -ms-linear-gradient(-45deg,  rgba(50,242,159,1) 0%,rgba(50,242,159,1) 11%,rgba(233,60,236,1) 100%); /* IE10+ */\
        background: linear-gradient(135deg,  rgba(50,242,159,1) 0%,rgba(50,242,159,1) 11%,rgba(233,60,236,1) 100%); /* W3C */\
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32f29f', endColorstr='#e93cec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */\
        ")
        .container(style="height: 100%")
            .row(style="height: 100%")
                .col-12.text-center(style="position: relative; top: 33%;")
                    h1(style="color: white;\
                    font-size: 148px;\
                    text-shadow: 0 1px 0 #cccccc,0 2px 0 #c9c9c9,0 3px 0 #bbbbbb,0 4px 0 #b9b9b9,0 5px 0 #aaaaaa,0 6px 1px rgba(0, 0, 0, 0.1),0 0 5px rgba(0, 0, 0, 0.1),0 1px 3px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2),0 5px 10px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.2),0 20px 20px rgba(0, 0, 0, 0.15);") #{total}
    script(type='text/javascript', src='/landing/js/ga.js')
